<blockquote>
  <p>所有代码已上传至Github：<a href="https://github.com/lihongzheshuai/yummy-code"><strong>https://github.com/lihongzheshuai/yummy-code</strong></a></p>
  <p>“<strong>luogu-</strong>”系列题目已加入洛谷
    <a href="https://www.luogu.com.cn/team/92228"><strong>Java、C++初学团队</strong></a>，
    <a href="https://www.luogu.com.cn/team/92228#homework"><strong>作业清单</strong></a>，
    可在线评测，团队名额有限。
  </p>
  <p>“<strong>bcqm-</strong>”系列题目可在
    <a href="https://bas.ssoier.cn/index.php"><strong>编程启蒙题库</strong></a>
    进行在线评测。
  </p>
</blockquote>

<blockquote class="prompt-tip"></blockquote>

<div style="text-align: center;">
  <div style="font-weight: 600; color: steelblue;">
    GESP/CSP 认证学习微信公众号
  </div>
  <img src="/images/wechat_qrcode.jpg" alt="GESP/CSP 认证学习微信公众号" title="GESP/CSP 认证学习微信公众号">
</div>
